pylon_gen/*
.vscode
__pycache__/
*.pyc
*.egg-info/
build/
devel/
logs/
.catkin_tools/
.catkin_workspace
*.bag
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json
CTestTestfile.cmake
CATKIN_IGNORE
.venv/
.catkin_tools