<launch>
  <!-- Common arguments -->
  <!-- Session folder named by date and time, cannot execute commands in args so needs
       to be set manually when launching :). See scripts/launch_with_timestamp.sh -->
  <!-- <arg name="session_folder" command="date +'%d-%m-%Y_%Ih%Mm'"/> -->
  <arg name="session_folder" default="test_session"/>
  <arg name="dataset_output_path" default="/media/administrator/data/images_eeha"/>
  <arg name="output_path" default="$(arg dataset_output_path)/mult_$(arg session_folder)"/>
  <arg name="output_frame_rate" default="1"/>
  <arg name="gnss_topic" default="/gnss/fix"/>
  <arg name="odom_topic" default="/odometry/combined"/>
  <arg name="master_topic" default="visible_camera/image_with_metadata"/>
  
  <!-- Camera PTP and Exposure Configuration -->
  <arg name="visible_use_ptp" default="false"/> <!-- Basler camera does not support PTP -->
  <arg name="lwir_use_ptp" default="true"/>
  <!-- Use exposure time for syncronization between different sensors in the middle of 
       the exposure -->
  <arg name="ouster_exposure_ns" default="30000"/>     <!-- ~30µs = 30000ns, from dataseet -->
  
  <!-- LIDAR FOV Configuration -->
  <!-- FOV FLIR A68 24°: 24.2° × 18.4° -->
  <!-- FOV Basler aca1600-60gc with lens ~ 25.4° x 19.2° -->
  <arg name="fov_enabled" default="true"/>
  <arg name="fov_use_angular" default="true"/>
  <arg name="fov_h_min_deg" default="-8.5"/>
  <arg name="fov_h_max_deg" default="19"/>
  <arg name="fov_v_min_deg" default="-11.5"/>
  <arg name="fov_v_max_deg" default="11"/>

  <!-- <include file="$(find temperature_driver)/launch/dht22.launch"/> -->
  
  <group ns="Multiespectral">
    <!-- ====== CAMERA HANDLERS (only publish images) ====== -->
    
    <!-- Visible Camera (Basler) - acts as master (all data syncs to this) -->
    <node pkg="multiespectral_acquire" type="basler_camera_handler" name="visible_camera" output="screen" required="true">
      <param name="image_topic" value="visible_camera"/>
      <param name="camera_ip" value="$(env MULTIESPECTRAL_VISIBLE_IP)"/>
      <param name="output_frame_rate" value="$(arg output_frame_rate)"/>
      <param name="camera_info_url" value="file://$(find multiespectral_acquire)/conf/visible_params.yaml"/>
      <param name="dataset_name" value="$(arg session_folder)"/>
      <param name="use_ptp" value="$(arg visible_use_ptp)"/>
    </node>
    
    <!-- LWIR Camera (FLIR) -->
    <!-- FLIR default capturing frame rate is 30Hz -->
    <node pkg="multiespectral_acquire" type="flir_camera_handler" name="lwir_camera" output="screen" required="true">
      <param name="image_topic" value="lwir_camera"/>
      <param name="frame_rate" value="30"/>
      <param name="camera_info_url" value="file://$(find multiespectral_acquire)/conf/lwir_params.yaml"/>
      <param name="dataset_name" value="$(arg session_folder)"/>
      <param name="use_ptp" value="$(arg lwir_use_ptp)"/>
    </node>
    
    <!-- ====== LIDAR CROP PROCESSING (separate launch) ====== -->
    <include file="$(find multiespectral_acquire)/launch/multiespectral_lidar_crop.launch">
      <arg name="fov_enabled" value="$(arg fov_enabled)"/>
      <arg name="fov_use_angular" value="$(arg fov_use_angular)"/>
      <arg name="fov_h_min_deg" value="$(arg fov_h_min_deg)"/>
      <arg name="fov_h_max_deg" value="$(arg fov_h_max_deg)"/>
      <arg name="fov_v_min_deg" value="$(arg fov_v_min_deg)"/>
      <arg name="fov_v_max_deg" value="$(arg fov_v_max_deg)"/>
    </include>

    <!-- ====== BUFFER HANDLERS (separate launch) ====== -->
    <include file="$(find multiespectral_acquire)/launch/multiespectral_buffer_handlers.launch">
      <arg name="output_path" value="$(arg output_path)"/>
      <arg name="master_topic" value="$(arg master_topic)"/>
      <arg name="ouster_exposure_ns" value="$(arg ouster_exposure_ns)"/>
    </include>    
  </group>
</launch>
