<launch>
  <!-- FOV Configuration Arguments -->
  <arg name="fov_enabled" default="true"/>
  <arg name="fov_use_angular" default="true"/>
  <arg name="fov_h_min_deg" default="-20"/>
  <arg name="fov_h_max_deg" default="20"/>
  <arg name="fov_v_min_deg" default="-15"/>
  <arg name="fov_v_max_deg" default="15"/>

  <!-- ========================================================================== -->
  <!-- CROP NODES: Process _sync topics from buffer handlers -->
  <!-- Input: /ouster/*_sync (synchronized ~5Hz) -->
  <!-- Output: ouster/*_cropped (goes to store buffers) -->
  <!-- ========================================================================== -->

  <!-- PointCloud Crop Node -->
  <node pkg="multiespectral_acquire" type="pointcloud_crop_node" name="pointcloud_crop" output="screen">
    <param name="input_topic" value="/ouster/points_sync"/>
    <remap from="ouster/points_cropped" to="ouster/points_cropped"/>
    
    <param name="fov_enabled" value="$(arg fov_enabled)"/>
    <param name="fov_use_angular" value="$(arg fov_use_angular)"/>
    <param name="fov_h_min_deg" value="$(arg fov_h_min_deg)"/>
    <param name="fov_h_max_deg" value="$(arg fov_h_max_deg)"/>
    <param name="fov_v_min_deg" value="$(arg fov_v_min_deg)"/>
    <param name="fov_v_max_deg" value="$(arg fov_v_max_deg)"/>
  </node>

  <!-- Range Image Crop Node -->
  <node pkg="multiespectral_acquire" type="image_crop_node" name="range_image_crop" output="screen">
    <param name="input_topic" value="/ouster/range_image_sync"/>
    <remap from="ouster/range_image_cropped" to="ouster/range_image_cropped"/>
    
    <param name="fov_enabled" value="$(arg fov_enabled)"/>
    <param name="fov_use_angular" value="$(arg fov_use_angular)"/>
    <param name="fov_h_min_deg" value="$(arg fov_h_min_deg)"/>
    <param name="fov_h_max_deg" value="$(arg fov_h_max_deg)"/>
    <param name="fov_v_min_deg" value="$(arg fov_v_min_deg)"/>
    <param name="fov_v_max_deg" value="$(arg fov_v_max_deg)"/>
  </node>

  <!-- Reflectivity Image Crop Node -->
  <node pkg="multiespectral_acquire" type="image_crop_node" name="reflec_image_crop" output="screen">
    <param name="input_topic" value="/ouster/reflec_image_sync"/>
    <remap from="ouster/reflec_image_cropped" to="ouster/reflec_image_cropped"/>
    
    <param name="fov_enabled" value="$(arg fov_enabled)"/>
    <param name="fov_use_angular" value="$(arg fov_use_angular)"/>
    <param name="fov_h_min_deg" value="$(arg fov_h_min_deg)"/>
    <param name="fov_h_max_deg" value="$(arg fov_h_max_deg)"/>
    <param name="fov_v_min_deg" value="$(arg fov_v_min_deg)"/>
    <param name="fov_v_max_deg" value="$(arg fov_v_max_deg)"/>
  </node>

  <!-- Signal Image Crop Node -->
  <node pkg="multiespectral_acquire" type="image_crop_node" name="signal_image_crop" output="screen">
    <param name="input_topic" value="/ouster/signal_image_sync"/>
    <remap from="ouster/signal_image_cropped" to="ouster/signal_image_cropped"/>
    
    <param name="fov_enabled" value="$(arg fov_enabled)"/>
    <param name="fov_use_angular" value="$(arg fov_use_angular)"/>
    <param name="fov_h_min_deg" value="$(arg fov_h_min_deg)"/>
    <param name="fov_h_max_deg" value="$(arg fov_h_max_deg)"/>
    <param name="fov_v_min_deg" value="$(arg fov_v_min_deg)"/>
    <param name="fov_v_max_deg" value="$(arg fov_v_max_deg)"/>
  </node>

  <!-- Near-IR Image Crop Node -->
  <node pkg="multiespectral_acquire" type="image_crop_node" name="nearir_image_crop" output="screen">
    <param name="input_topic" value="/ouster/nearir_image_sync"/>
    <remap from="ouster/nearir_image_cropped" to="ouster/nearir_image_cropped"/>
    
    <param name="fov_enabled" value="$(arg fov_enabled)"/>
    <param name="fov_use_angular" value="$(arg fov_use_angular)"/>
    <param name="fov_h_min_deg" value="$(arg fov_h_min_deg)"/>
    <param name="fov_h_max_deg" value="$(arg fov_h_max_deg)"/>
    <param name="fov_v_min_deg" value="$(arg fov_v_min_deg)"/>
    <param name="fov_v_max_deg" value="$(arg fov_v_max_deg)"/>
  </node>

</launch>
