<launch>
  <!-- Argumentos -->
  <arg name="dataset_output_path" default="/home/clearpath/images_eeha"/>
  <arg name="frame_rate" default="1"/>

  <group ns="Multiespectral">
    <!-- FLIR LWIR (slave) -->
    <node pkg="multiespectral_acquire" type="flir_slave" name="lwir_camera" output="screen">
      <param name="dataset_output_path" value="$(arg dataset_output_path)"/>
      <param name="frame_rate" value="$(arg frame_rate)"/>
      <param name="image_topic" value="lwir_camera"/>
      <param name="camera_info_url" value="file://$(find multiespectral_acquire)/conf/lwir_params.yaml"/>
    </node>

    <!-- Basler visible (master) -->
    <node pkg="multiespectral_acquire" type="basler_master" name="visible_camera" output="screen">
      <param name="dataset_output_path" value="$(arg dataset_output_path)"/>
      <param name="camera_ip" value="$(env MULTIESPECTRAL_VISIBLE_IP)"/>
      <param name="frame_rate" value="$(arg frame_rate)"/>
      <param name="image_topic" value="visible_camera"/>
      <param name="camera_info_url" value="file://$(find multiespectral_acquire)/conf/visible_params.yaml"/>
    </node>

    <node pkg="multiespectral_acquire" type="lidar_slave" name="lidar_camera" output="screen">
      <param name="dataset_output_path" value="$(arg dataset_output_path)"/>
      <param name="input_lidar_topic" value="/os_cloud_node/points"/>
      <param name="pointcloud_topic" value="lidar_pointcloud"/>
      <param name="image_topic" value="swir_lidar"/>
      <param name="frame_rate" value="$(arg frame_rate)"/>
      <param name="lidar_acq_frame_rate" value="20"/>

      <!-- FOV Configuration -->
      <param name="fov_enabled" value="true"/>
      <param name="fov_use_angular" value="true"/>
      <param name="fov_h_min_deg" value="-20"/>
      <param name="fov_h_max_deg" value="20"/>
      <param name="fov_v_min_deg" value="-15"/>
      <param name="fov_v_max_deg" value="15"/>
    </node>

  </group>
</launch>
