
<launch>	
  <arg name="dataset_output_path" default="./"/>
  <arg name="frame_rate" default="10"/>

	<node pkg="multiespectral_fb" type="basler_master" name="basler_multiespectral" output="screen">
        <param name="dataset_output_path" value="$(arg dataset_output_path)"/>  
        <param name="frame_rate" value="$(arg frame_rate)"/>  
	</node>

	<node pkg="multiespectral_fb" type="flir_slave" name="flir_multiespectral" output="screen">
        <param name="dataset_output_path" value="$(arg dataset_output_path)"/>  
        <param name="frame_rate" value="$(arg frame_rate)"/>  
	</node>
	
 </launch>